<ion-view view-title="Stop! & Go!">
  <ion-content class="stop">
    <div class="content">
      <h2>STOP!</h2>
      <ul>
        <li> Start het werk niet</li>
        <li> Raadpleeg uw toezichthouder</li>
        <li>Buig de <span class="highlited"> NEE</span> om naar een <span class="highlited">JA</span></li>
      </ul>
    </div>
    <button class="btn-green" ui-sref="tab.go.slider">Hervat Stop! en Go!</button>
    <span class="footer">Sta stil bij de <span class="highlited">veiligheid</span></span>
  </ion-content>
</ion-view>